.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#3d4904f0), to(#d9fe2ad4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#3d4904f0), to(#d9fe2ad4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}



form#create-employee {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 40%;
    grid-gap: 20px;
}

.address {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 94%;
    grid-gap: 20px;
    margin-top: 10px;
    height: 500px;

}

label, legend {
    margin-top: 0;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#3d4904f0), to(#d9fe2ad4));*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #a1b931f0;
}

.btn {
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;

    background: linear-gradient(to bottom right, #3d4904f0, #d9fe2ad4);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
}

.btn:hover {
    background-color: transparent;
}
#date-of-birth, #start-date,#state, #department{
    color: #a1b931f0;
}
.address{
    border-color: #d9fe2a33;
}
